.main {
  margin: 0 auto;
  border:  solid #e9ebee 1px;
  width: 800px;
  height: auto;
  background-color: #ffffff;
  margin-top: 50px;
}

body {
  background-color: #f3f3f3;
}

div.header {
  color: #20d6da;
  font-family: cursive;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

form {
  margin: 0 auto;
  width: 275px;
}

input[type=text] {
  border: solid #20d6da 1px;
}

input[type=submit] {
  background-color: white;
  color: #20d6da;
  border-radius:  25px;
}

.todo_list {
  border: solid #20d6da 1px;
  width: 500px;
  height:  75px;
  margin: 0 auto;
  margin-top: 20px;
}

button.completed {
  float: right;

  width: 75px;
  height:25px;
  margin-right: 10px;
  color: green;
  margin-top: 7px;
}

button.delete {
  float: right;
  width: 75px;
  height: 25px;
  margin-right: 10px;
  margin-top: 10px;
  color: red;
}

.buttons {
  float: right;
  width: 100px;

}

button {
  background-color: white;
  border-radius:  25px;
}

.todo_value {
  float:left;
  margin-left: 50px;

}
